<?xml version="1.0"?>
<Configuration>
	<!--Databases-->
	<Databases>
		<Database Name="idpb_gileatos">
			<Setting key="Type" value="Sql"/>
			<Setting key="StringConnection" value="Data Source=35.222.95.171;Database=idpb_gileatos;User ID=sa;Password=rms@2012;Trusted_Connection=false;"/>
			<Setting key="ConnectionCommands" value=""/>
			<Setting key="Server" value="MSSQLSERVER"/>
			<Setting key="BoolFormat" value="1;0"/>
			<Setting key="DateFormat" value="yyyy/MM/dd HH:mm:ss"/>
			<Setting key="IdentifierDelimiterInitial" value="["/>
			<Setting key="IdentifierDelimiterFinal" value="]"/>
			<Setting key="StringDelimiterInitial" value="N'"/>
			<Setting key="StringDelimiterFinal" value="'"/>
			<Setting key="DateRightDelimeter" value="'"/>
			<Setting key="DateLeftDelimeter" value="'"/>
			<Setting key="Optimized" value="True"/>
			<Setting key="ParameterDelimiter" value="@"/>
			<Setting key="User" value="sa"/>
			<Setting key="Password" value="rms@2012"/>
			<Setting key="WinAut" value="False"/>
			<Setting key="ServerName" value="35.222.95.171"/>
			<Setting key="RunAdapter" value="False"/>
			<Setting key="CheckDatabase" value="True"/>
			<Setting key="DataBaseName" value="idpb_gileatos"/>
			<Setting key="DataBaseAdapterName" value="idpb_cafinpiTMP"/>
		</Database>
		<Database Name="idpb_AM">
			<Setting key="Type" value="Sql"/>
			<Setting key="StringConnection" value="Data Source=35.222.95.171;Database=idpb_AM;User ID=sa;Password=rms@2012;Trusted_Connection=false;"/>
			<Setting key="ConnectionCommands" value=""/>
			<Setting key="Server" value="MSSQLSERVER"/>
			<Setting key="BoolFormat" value="1;0"/>
			<Setting key="DateFormat" value="yyyy/MM/dd HH:mm:ss"/>
			<Setting key="IdentifierDelimiterInitial" value="["/>
			<Setting key="IdentifierDelimiterFinal" value="]"/>
			<Setting key="StringDelimiterInitial" value="N'"/>
			<Setting key="StringDelimiterFinal" value="'"/>
			<Setting key="DateRightDelimeter" value="'"/>
			<Setting key="DateLeftDelimeter" value="'"/>
			<Setting key="Optimized" value="True"/>
			<Setting key="ParameterDelimiter" value="@"/>
			<Setting key="User" value="sa"/>
			<Setting key="Password" value="rms@2012"/>
			<Setting key="WinAut" value="False"/>
			<Setting key="ServerName" value="35.222.95.171"/>
			<Setting key="RunAdapter" value="False"/>
			<Setting key="CheckDatabase" value="True"/>
			<Setting key="DataBaseName" value="idpb_AM"/>
			<Setting key="DataBaseAdapterName" value="idpb_AMTMP"/>
		</Database>
		<Database Name="bd_idpb">
			<Setting key="Type" value="Sql"/>
			<Setting key="StringConnection" value="Data Source=35.222.95.171;Database=bd_idpb;User ID=sa;Password=rms@2012;Trusted_Connection=false;"/>
			<Setting key="ConnectionCommands" value=""/>
			<Setting key="Server" value="MSSQLSERVER"/>
			<Setting key="BoolFormat" value="1;0"/>
			<Setting key="DateFormat" value="yyyy/MM/dd HH:mm:ss"/>
			<Setting key="IdentifierDelimiterInitial" value="["/>
			<Setting key="IdentifierDelimiterFinal" value="]"/>
			<Setting key="StringDelimiterInitial" value="N'"/>
			<Setting key="StringDelimiterFinal" value="'"/>
			<Setting key="DateRightDelimeter" value="'"/>
			<Setting key="DateLeftDelimeter" value="'"/>
			<Setting key="Optimized" value="True"/>
			<Setting key="ParameterDelimiter" value="@"/>
			<Setting key="User" value="sa"/>
			<Setting key="Password" value="rms@2012"/>
			<Setting key="WinAut" value="False"/>
			<Setting key="ServerName" value="35.222.95.171"/>
			<Setting key="RunAdapter" value="False"/>
			<Setting key="CheckDatabase" value="True"/>
			<Setting key="DataBaseName" value="bd_idpb"/>
			<Setting key="DataBaseAdapterName" value="DataBase86TMP"/>
		</Database>
	</Databases>
	<!--End Databases-->
</Configuration>
