/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainAjaxPanel
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
}

.c_WindowSettings1
{
	position: absolute !important;
	left: 33px;
	top: 698px;
	width: 150px;
	height: 150px;
}

.c_LayoutContainer1
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow1
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol2
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button18
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button18:not(:hover), .c_Button18.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button18_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button18:hover .c_Button18_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}
/*		Hover style		*/


.c_Button18:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button18:hover
{
	border-color: #CBCBCB !important;
}
