/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #DBDFE4;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainAjaxPanel
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
}

.c_LayoutContainer1
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow2
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol2
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 0px !important;
}

.c_LayoutRow4
{
	background-color: #E2E5E9;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	overflow: hidden;
	padding: 0px !important;
}

.c_LayoutCol19
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 12px 20px 12px 20px !important;
}

.c_Div2
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Label20
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 2px;
	width: 256px;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Button22
{
	font-family: 'Segoe UI';
	font-size: 14px;
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 53px;
	width: 138px;
	height: 40px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 1px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button22:not(:hover), .c_Button22.RadButton.rbButton.rbDisabled
{
	background-color: #A4ABB2;
	border-color: #CBCBCB;
	color: #383838 !important;
}

.c_Button22_icon
{
	color: #383838;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button22:hover .c_Button22_icon
{
	background-image: none;
	color: #383838;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button18
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 158px;
	top: 53px;
	width: 138px;
	height: 40px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 1px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button18:not(:hover), .c_Button18.RadButton.rbButton.rbDisabled
{
	background-color: #A4ABB2;
	border-color: #CBCBCB;
	color: #383838 !important;
}

.c_Button18_icon
{
	color: #383838;
	font-size: 20px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button18:hover .c_Button18_icon
{
	background-image: none;
	color: #383838;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol20
{
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 20px !important;
}

.c_LayoutRow5
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol21
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: none;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label21
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_RadTextBox1
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
	outline-style: none !important;
}

.c_RadTextBox1_wrapper
{
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: none;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol15
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Label15
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_txtDescricao
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
	outline-style: none !important;
}

.c_txtDescricao_wrapper
{
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Label14
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #DC3545;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol4
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Label22
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_ComboBox1
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	background-color: #FFFFFF;
	cursor: inherit;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_RadCheckBox1
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 40px;
	border-style: None;
	color: #373737;
	direction: ltr;
	display: block;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_RadCheckBox1.rbCheckBox .rbText
{
	color: #373737;
}

.c_LayoutCol16
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_labError
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #DC3545;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_SweetAlert1
{
	background-color: #FFFFFF;
	position: absolute !important;
	left: 16px;
	top: 475px;
	width: 640px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	z-index: 2500;
}

#SweetAlert1 > ul
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	width: 100%;
}

#SweetAlert1 > ul > li
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	width: 100%;
}
/*		Hover style		*/


.c_Button22:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button22:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button18:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button18:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}
