/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #DBDFE4;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_LayoutContainer1
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow15
{
	background-color: #FFD86B;
	position: fixed;
	 top: 0;
	 width: 100%;
	 z-index: 6999;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol32
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutContainer3
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow16
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol33
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px !important;
}

.c_Div7
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 63px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon13
{
	background-color: Transparent;
	color: #3B3B3B;
	display: block;
	font-size: 40px;
}

.c_Div7.div-transparent .c_container_HomeAspx_Icon13
{
	position: absolute !important;
	left: 17px;
	top: 12px;
	text-align: left;
}

.c_Label27
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	position: absolute !important;
	left: 71px;
	top: 18px;
	width: 301px;
	color: #3B3B3B;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_LayoutCol34
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 10px !important;
}

.c_NavBar1
{
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 0px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	text-align: end;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	z-index: 2500;
}

#NavBar1 .rnvRootGroupWrapper
{
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_NavBarItem1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_NavBarItem3
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_NavBarItem2
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_NavBarItem4
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_LayoutRow1
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol1
{
	background-color: #FFD86B;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutContainerHome
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow2
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 100px 0px 100px 0px !important;
}

.c_LayoutCol3
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 15px 30px 15px 30px !important;
}

.c_Image1
{
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	Object-fit: contain;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol4
{
	background-color: Transparent;
	align-self: center;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 30px 5px 30px !important;
}

.c_Label1
{
	font-family: 'Segoe UI';
	font-size: 36px;
	font-weight: 500;
	font-weight: 500;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 10px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #3B3B3B;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Label2
{
	font-family: 'Segoe UI';
	font-size: 20px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 10px;
	margin-bottom: 35px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #3B3B3B;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutRow3
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol5
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 0px !important;
}

.c_Button1
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 50px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button1:not(:hover), .c_Button1.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_LayoutCol6
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 0px !important;
}

.c_Button2
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 50px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button2:not(:hover), .c_Button2.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_LayoutCol2
{
	background-color: #E2E5E9;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutContainer2
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRowCaracteristica
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 40px 10px 40px 10px !important;
}

.c_LayoutCol7
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_Label3
{
	font-family: 'Segoe UI';
	font-size: 36px;
	font-weight: 500;
	font-weight: 500;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 10px;
	margin-bottom: 15px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Label4
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 20px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutRow5
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol8
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 20px 5px 20px !important;
}

.c_Image2
{
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	Object-fit: contain;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol9
{
	background-color: Transparent;
	align-self: center;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutRow6
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol10
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutRow7
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol28
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 0px 10px !important;
}

.c_Div1
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 42px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon7
{
	background-color: Transparent;
	color: #FFD86B;
	display: block;
	font-size: 30px;
}

.c_Div1.div-transparent .c_container_HomeAspx_Icon7
{
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	text-align: left;
}

.c_Label17
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	margin-left: 50px !important;
	margin-right: 0px;
	--mleft: 50px;
	--mright: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	right: 0px;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol17
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px 10px 5px 50px !important;
}

.c_Label6
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol11
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutRow8
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol18
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 0px 10px !important;
}

.c_Div2
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 42px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon8
{
	background-color: Transparent;
	color: #FFD86B;
	display: block;
	font-size: 30px;
}

.c_Div2.div-transparent .c_container_HomeAspx_Icon8
{
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	text-align: left;
}

.c_Label18
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	margin-left: 50px !important;
	margin-right: 0px;
	--mleft: 50px;
	--mright: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	right: 0px;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol19
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px 10px 5px 50px !important;
}

.c_Label8
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol12
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutRow9
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol20
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 0px 10px !important;
}

.c_Div4
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 42px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon10
{
	background-color: Transparent;
	color: #FFD86B;
	display: block;
	font-size: 30px;
}

.c_Div4.div-transparent .c_container_HomeAspx_Icon10
{
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	text-align: left;
}

.c_Label20
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	margin-left: 50px !important;
	margin-right: 0px;
	--mleft: 50px;
	--mright: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	right: 0px;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol21
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px 10px 5px 50px !important;
}

.c_Label10
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol13
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutRow10
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol22
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 0px 10px !important;
}

.c_Div3
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 42px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon9
{
	background-color: Transparent;
	color: #FFD86B;
	display: block;
	font-size: 30px;
}

.c_Div3.div-transparent .c_container_HomeAspx_Icon9
{
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	text-align: left;
}

.c_Label19
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	margin-left: 50px !important;
	margin-right: 0px;
	--mleft: 50px;
	--mright: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	right: 0px;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol23
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px 10px 5px 50px !important;
}

.c_Label12
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol14
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutRow11
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol24
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 0px 10px !important;
}

.c_Div5
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 42px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon11
{
	background-color: Transparent;
	color: #FFD86B;
	display: block;
	font-size: 30px;
}

.c_Div5.div-transparent .c_container_HomeAspx_Icon11
{
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	text-align: left;
}

.c_Label21
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	margin-left: 50px !important;
	margin-right: 0px;
	--mleft: 50px;
	--mright: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	right: 0px;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol25
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px 10px 5px 50px !important;
}

.c_Label14
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol15
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_LayoutRow12
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol26
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 0px 10px !important;
}

.c_Div6
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 42px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Icon12
{
	background-color: Transparent;
	color: #FFD86B;
	display: block;
	font-size: 30px;
}

.c_Div6.div-transparent .c_container_HomeAspx_Icon12
{
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	text-align: left;
}

.c_Label22
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	margin-left: 50px !important;
	margin-right: 0px;
	--mleft: 50px;
	--mright: 0px;
	position: absolute !important;
	left: 0px;
	top: 0px;
	right: 0px;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol27
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px 10px 5px 50px !important;
}

.c_Label16
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutRowPlanejamento
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol29
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 15px 30px 15px 30px !important;
}

.c_Image3
{
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	Object-fit: contain;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol30
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 50px 10px 50px 20px !important;
}

.c_Label23
{
	font-family: 'Segoe UI';
	font-size: 28px;
	font-weight: 500;
	font-weight: 500;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 10px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Label24
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 10px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Label25
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 10px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Label26
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 20px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutRow14
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol31
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 0px !important;
}

.c_Button3
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 50px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
	border-width: 1px !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button3:not(:hover), .c_Button3.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}
/*		Hover style		*/


.c_Button1:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button1:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button2:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button2:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button3:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button3:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}
