/* NavBar style: */ 

.RadNavigation_Office2010Silver.navbar-accent {
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    border-radius: 5px !important;
}
.RadNavigation_Office2010Silver.navbar-accent .rnvRootGroupWrapper {
    border: none;
    color: #3B3B3B;
    background-color: transparent;
    background-image: none;
}
.RadNavigation_Office2010Silver.navbar-accent .rnvRootGroupWrapper {
    height: inherit !important;
}
.RadNavigation_Office2010Silver.navbar-accent .rnvMore {
    height: inherit !important;
    width: 55px;
}
.RadNavigation_Office2010Silver.navbar-accent .rnvSelected.rnvMore, 
.RadNavigation_Office2010Silver.navbar-accent .rnvSelected>.rnvRootLink, 
.RadNavigation_Office2010Silver.navbar-accent .rnvExpanded>.rnvRootLink {
    border: none;
    background-image: none;
    box-shadow: none !important;	
    color: #FFD86B;
    background-color: #3B3B3B;
	border-radius:5px;
}
.RadNavigation_Office2010Silver.navbar-accent .rnvMore {
    border: none;
    color: #3B3B3B;
    background-color: transparent;
    background-image: none;
    box-shadow: none !important;
}
.RadNavigation_Office2010Silver.navbar-accent .rnvRootLink {
    border: none;
}
.RadNavigation_Office2010Silver.navbar-accent .rnvHovered.rnvMore,
.RadNavigation_Office2010Silver.navbar-accent .rnvHovered>.rnvRootLink{
	border:none;
	color: #3B3B3B;
	background-color:#3B3B3B50;
	background-image:none;
	border-radius:5px;	
}
.RadNavigation_Office2010Silver .rnvPopup .rnvHovered>.rnvLink{
	color: #3B3B3B;
	background-color:#3B3B3B50;
}
.radSkin_Office2010Silver .rnvPopup .rnvLink {
    padding: 15px 30px 15px 15px;
}
.radSkin_Office2010Silver .rnvPopup .rnvSelected>.rnvLink, .radSkin_Black .rnvPopup .rnvExpanded>.rnvLink {
    color: #FFD86B;
    background-color: #E2E5E9;
}
.radSkin_Office2010Silver .rnvPopup {
    border-radius: 5px;
    border-color: #CBCBCB;
    color: #3B3B3B;
    background-color: #FFD86B;
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);	
}
.RadNavigation_Office2010Silver.navbar-accent .rnvSlide {
	z-index: 9998;
}
