/* Button style: */ 

.button-raised-success:hover{
	background-image: linear-gradient(#00000030,#00000030) !important;
}

.button-raised-success{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button-raised-success:hover{
    box-shadow: none;
}
