/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainAjaxPanel
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
}

.c_LayoutContainer1
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow3
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol12
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 0px !important;
}

.c_LayoutRow2
{
	background-color: #E2E5E9;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	overflow: hidden;
	padding: 0px !important;
}

.c_LayoutCol1
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 12px 20px 12px 20px !important;
}

.c_Div1
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Label1
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 2px;
	width: 256px;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Button17
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 0px;
	top: 53px;
	width: 50px;
	height: 40px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 1px !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button17:not(:hover), .c_Button17.RadButton.rbButton.rbDisabled
{
	background-color: #A4ABB2;
	border-color: #CBCBCB;
	color: #383838 !important;
	min-width: 40px;
}

.c_Button17_icon
{
	color: #383838;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button17:hover .c_Button17_icon
{
	background-image: none;
	color: #383838;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button18
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 57px;
	top: 53px;
	width: 50px;
	height: 40px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 1px !important;
	display: block;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button18:not(:hover), .c_Button18.RadButton.rbButton.rbDisabled
{
	background-color: #A4ABB2;
	border-color: #CBCBCB;
	color: #383838 !important;
	min-width: 40px;
}

.c_Button18_icon
{
	color: #383838;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button18:hover .c_Button18_icon
{
	background-image: none;
	color: #383838;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button19
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 113px;
	top: 53px;
	width: 125px;
	height: 40px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 1px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button19:not(:hover), .c_Button19.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button19_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button19:hover .c_Button19_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol13
{
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 20px !important;
}

.c_LayoutRow5
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol2
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Label18
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_txtCodigo
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
	outline-style: none !important;
}

.c_txtCodigo_wrapper
{
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

#txtCodigo_Label.riLabel
{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #333333;
}

.c_Label13
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #DC3545;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol15
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Label19
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_txtDescricao
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
	outline-style: none !important;
}

.c_txtDescricao_wrapper
{
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

#txtDescricao_Label.riLabel
{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #333333;
}

.c_Label15
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #DC3545;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol25
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label23
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_RadTextBox1
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
	outline-style: none !important;
}

.c_RadTextBox1_wrapper
{
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol24
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Div3
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 112px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_ComboBox1
{
	position: absolute !important;
	left: -1px;
	top: 31px;
	width: 548px;
	width: 438px !important;
	background-color: #FFFFFF;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
}

.c_GComboBoxItem1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_GComboBoxItem2
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_Label6
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 0px;
	top: 1px;
	width: 548px;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Label17
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 0px;
	top: 78px;
	width: 548px;
	color: #DC3545;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_RadCheckBox1
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 570px;
	top: 31px;
	width: 270px;
	height: 40px;
	background-color: Transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FFD86B;
	direction: ltr;
	display: block;
	text-align: Left;
}

.c_RadCheckBox1.rbCheckBox .rbText
{
	color: #FFD86B;
}

.c_RadCheckBox2
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 858px;
	top: 31px;
	width: 220px;
	height: 40px;
	background-color: Transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	color: #FFD86B;
	direction: ltr;
	display: block;
	text-align: Left;
}

.c_RadCheckBox2.rbCheckBox .rbText
{
	color: #FFD86B;
}

.c_LayoutCol22
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_labError
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #DC3545;
	display: none;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol4
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button26
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 44px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 1px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button26:not(:hover), .c_Button26.RadButton.rbButton.rbDisabled
{
	background-color: #A4ABB2;
	border-color: #CBCBCB;
	color: #383838 !important;
}

.c_Button26_icon
{
	color: #383838;
	font-size: 20px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button26:hover .c_Button26_icon
{
	background-image: none;
	color: #383838;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol19
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button27
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 44px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 1px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button27:not(:hover), .c_Button27.RadButton.rbButton.rbDisabled
{
	background-color: #A4ABB2;
	border-color: #CBCBCB;
	color: #383838 !important;
}

.c_Button27_icon
{
	color: #383838;
	font-size: 20px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button27:hover .c_Button27_icon
{
	background-image: none;
	color: #383838;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol23
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Line1
{
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 5px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 4px;
	background-color: #FFD86B;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Label22
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_LayoutCol9
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label2
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_CBDistrito
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	background-color: #FFFFFF;
	cursor: inherit;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol11
{
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 0px !important;
}

.c_Grid2
{
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	display: block;
	outline-style: none !important;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

#Grid2_GridData.rgDataDiv
{
	height: auto !important;
}

.c_GridColumn_codigo
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn_Descricao
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn_Reduz
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn_analitica
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn_patrimonio
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn_natureza
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn13
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_SweetAlert1
{
	background-color: #FFFFFF;
	position: absolute !important;
	left: 101px;
	top: 1081px;
	width: 640px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	z-index: 2500;
}

#SweetAlert1 > ul
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	width: 100%;
}

#SweetAlert1 > ul > li
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	width: 100%;
}
/*		Hover style		*/


.c_Button17:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
	min-width: 40px;
}

.c_Button17:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button18:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
	min-width: 40px;
}

.c_Button18:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button19:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button19:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button26:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button26:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button27:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button27:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}
