/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainAjaxPanel
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
}

.c_LayoutContainer1
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow1
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol1
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Image1
{
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 131px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: #000000;
	border-style: None;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-width: 0px;
	cursor: inherit;
	Object-fit: contain;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Label1
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}
