/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #DBDFE4;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_LayoutContainer1
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow2
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol2
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 0px !important;
}

.c_LayoutRow4
{
	background-color: #E2E5E9;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	overflow: hidden;
	padding: 0px !important;
}

.c_LayoutCol15
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 12px 20px 12px 20px !important;
}

.c_Div1
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Label5
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 2px;
	width: 406px;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Button25
{
	font-family: 'Segoe UI';
	font-size: 14px;
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 47px;
	width: 138px;
	height: 40px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 1px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button25:not(:hover), .c_Button25.RadButton.rbButton.rbDisabled
{
	background-color: #A4ABB2;
	border-color: #CBCBCB;
	color: #383838 !important;
}

.c_Button25_icon
{
	color: #383838;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button25:hover .c_Button25_icon
{
	background-image: none;
	color: #383838;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol16
{
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 20px !important;
}

.c_LayoutRow3
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol7
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button18
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button18:not(:hover), .c_Button18.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button18_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button18:hover .c_Button18_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol10
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button21
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button21:not(:hover), .c_Button21.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button21_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button21:hover .c_Button21_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol11
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button22
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button22:not(:hover), .c_Button22.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button22_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button22:hover .c_Button22_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol14
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button19
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button19:not(:hover), .c_Button19.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button19_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button19:hover .c_Button19_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol23
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button32
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button32:not(:hover), .c_Button32.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button32_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button32:hover .c_Button32_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol17
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button26
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button26:not(:hover), .c_Button26.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button26_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button26:hover .c_Button26_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol18
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button27
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button27:not(:hover), .c_Button27.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button27_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button27:hover .c_Button27_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol20
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button29
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button29:not(:hover), .c_Button29.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button29_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button29:hover .c_Button29_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol21
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button30
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button30:not(:hover), .c_Button30.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button30_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button30:hover .c_Button30_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol22
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button31
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button31:not(:hover), .c_Button31.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button31_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button31:hover .c_Button31_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol24
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button33
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button33:not(:hover), .c_Button33.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button33_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button33:hover .c_Button33_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol25
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button34
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button34:not(:hover), .c_Button34.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button34_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button34:hover .c_Button34_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol19
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Button28
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 69px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 0px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Button28:not(:hover), .c_Button28.RadButton.rbButton.rbDisabled
{
	background-color: #FFD86B;
	border-color: #CBCBCB;
	color: #3B3B3B !important;
}

.c_Button28_icon
{
	color: #3B3B3B;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button28:hover .c_Button28_icon
{
	background-image: none;
	color: #3B3B3B;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}
/*		Hover style		*/


.c_Button25:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button25:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button18:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button18:hover
{
	border-color: #CBCBCB !important;
}

.c_Button21:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button21:hover
{
	border-color: #CBCBCB !important;
}

.c_Button22:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button22:hover
{
	border-color: #CBCBCB !important;
}

.c_Button19:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button19:hover
{
	border-color: #CBCBCB !important;
}

.c_Button32:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button32:hover
{
	border-color: #CBCBCB !important;
}

.c_Button26:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button26:hover
{
	border-color: #CBCBCB !important;
}

.c_Button27:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button27:hover
{
	border-color: #CBCBCB !important;
}

.c_Button29:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button29:hover
{
	border-color: #CBCBCB !important;
}

.c_Button30:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button30:hover
{
	border-color: #CBCBCB !important;
}

.c_Button31:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button31:hover
{
	border-color: #CBCBCB !important;
}

.c_Button33:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button33:hover
{
	border-color: #CBCBCB !important;
}

.c_Button34:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button34:hover
{
	border-color: #CBCBCB !important;
}

.c_Button28:hover
{
	background-color: #FFD86B !important;
	border-color: #CBCBCB !important;
	color: #3B3B3B !important;
}

.c_Button28:hover
{
	border-color: #CBCBCB !important;
}
