/*		Remove Guters		*/
.row {
	margin-right: 0;
	margin-left: 0;
}
	
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
}



.c_Form1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#Form1_body
{
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 100%;
	margin: 0px;
	overflow: inherit;
}

.c_MainAjaxPanel
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
}

.c_LayoutContainer1
{
	background-color: Transparent;
	background-size: auto;
	cursor: inherit;
}

.c_LayoutRow3
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 10px !important;
}

.c_LayoutCol11
{
	background-color: #E2E5E9;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 0px !important;
}

.c_LayoutRow2
{
	background-color: #E2E5E9;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	overflow: hidden;
	padding: 0px !important;
}

.c_LayoutCol19
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 12px 20px 12px 20px !important;
}

.c_Div2
{
	background-color: Transparent;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_Label20
{
	font-family: 'Segoe UI';
	font-size: 20px;
	font-weight: 500;
	font-weight: 500;
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 2px;
	width: 256px;
	color: #333333;
	display: block;
	Padding-right: 0px;
	text-align: Left;
	word-wrap: normal;
}

.c_Button24
{
	font-family: 'Segoe UI';
	font-size: 14px;
	position: absolute !important;
	left: 177px;
	top: 48px;
	width: 159px;
	height: 42px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 1px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button24:not(:hover), .c_Button24.RadButton.rbButton.rbDisabled
{
	background-color: #A4ABB2;
	border-color: #CBCBCB;
	color: #383838 !important;
}

.c_Button24_icon
{
	color: #383838;
	font-size: 20px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button24:hover .c_Button24_icon
{
	background-image: none;
	color: #383838;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button22
{
	font-family: 'Segoe UI';
	font-size: 14px;
	--mleft: 0px;
	position: absolute !important;
	left: 0px;
	top: 48px;
	width: 159px;
	height: 42px;
	background-image: none !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-bottom-left-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-width: 1px !important;
	gap: 10px;
	outline-style: none !important;
	padding: 0px !important;
	padding: 0px 10px 0px 10px !important;
	text-align: Center;
}

.c_Button22:not(:hover), .c_Button22.RadButton.rbButton.rbDisabled
{
	background-color: #A4ABB2;
	border-color: #CBCBCB;
	color: #383838 !important;
}

.c_Button22_icon
{
	color: #383838;
	font-size: 16px;
	text-align: center;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_Button22:hover .c_Button22_icon
{
	background-image: none;
	color: #383838;
	-webkit-background-clip: unset;
	-webkit-text-fill-color: unset;
}

.c_LayoutCol20
{
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 20px !important;
}

.c_LayoutRowCadastro
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	padding: 0px !important;
}

.c_LayoutCol224
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label48
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_ComboBox2
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	background-color: #FFFFFF;
	cursor: inherit;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol223
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label47
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_DatePicker3
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 40px;
	height: 32px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_DatePicker3_wrapper
{
	position: relative;
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 32px !important;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_DatePicker3_dateInput_wrapper
{
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_LayoutCol2
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_Label18
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_DatePicker1
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 40px;
	height: 32px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_DatePicker1_wrapper
{
	position: relative;
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 32px !important;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_DatePicker1_dateInput_wrapper
{
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_LayoutCol222
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label46
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_DatePicker2
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 40px;
	height: 32px !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_DatePicker2_wrapper
{
	position: relative;
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	display: block;
	height: 32px !important;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_DatePicker2_dateInput_wrapper
{
	position: relative;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_LayoutCol227
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label49
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_RadTextBox1
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
	outline-style: none !important;
}

.c_RadTextBox1_wrapper
{
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
	margin: 0px var(--mright) 5px var(--mleft);
	--mleft: 0px;
	--mright: 0px;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol225
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label50
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_ComboBox3
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	background-color: #FFFFFF;
	cursor: inherit;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_LayoutCol221
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: block;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label45
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_ComboBox1
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	background-color: #FFFFFF;
	cursor: inherit;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_RadCheckBox2
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	height: 40px;
	border-style: None;
	color: #373737;
	direction: ltr;
	display: block;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_RadCheckBox2.rbCheckBox .rbText
{
	color: #373737;
}

.c_LayoutCol228
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label51
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_ComboBox4
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	background-color: #FFFFFF;
	cursor: inherit;
	display: block;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_GComboBoxItem1
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_GComboBoxItem2
{
	position: absolute !important;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	cursor: inherit;
}

.c_LayoutCol18
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_LayoutRow5
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	padding: 0px !important;
}

.c_LayoutCol21
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	padding: 5px 10px 5px 10px !important;
}

.c_Label21
{
	font-family: 'Segoe UI';
	font-size: 14px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #333333;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_Grid1
{
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	display: block;
	outline-style: none !important;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
}

.c_GridColumn1
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn2
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn3
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn4
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn5
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn7
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn8
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn9
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn10
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_GridColumn11
{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.c_LayoutCol16
{
	background-color: Transparent;
	background-position: center;
	background-size: auto;
	cursor: inherit;
	display: flex;
	flex-direction: column;
	overflow: inherit;
	padding: 5px 10px 5px 10px !important;
}

.c_labError
{
	font-family: 'Segoe UI';
	font-size: 16px;
	margin-left: var(--mleft) !important;
	margin-right: var(--mright);
	margin-top: 0px;
	margin-bottom: 5px;
	--mleft: 0px;
	--mright: 0px;
	position: relative;
	color: #DC3545;
	display: block;
	font-weight: 400;
	Padding-right: 0px;
	text-align: Left;
	width: calc(100% - var(--mleft) - var(--mright)) !important;
	word-wrap: normal;
}

.c_RadTextBox2
{
	font-family: 'Segoe UI' !important;
	font-size: 14px !important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	outline-style: none !important;
}

.c_RadTextBox2_wrapper
{
	position: absolute !important;
	left: 467px;
	top: 1087px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: none;
	width: 100px !important;
}

.c_WindowSettings1
{
	position: absolute !important;
	left: 740px;
	top: 1062px;
	width: 150px;
	height: 150px;
}
/*		Hover style		*/


.c_Button24:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button24:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button22:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}

.c_Button22:hover
{
	background-color: #A4ABB2 !important;
	border-color: #CBCBCB !important;
	color: #383838 !important;
}
